page-login {
 
  .login-content {

    .login-box {
      background: rgba(238, 238, 238, .5);
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         margin-bottom: 10px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

  }
 
}