
<ion-header> 
<ion-navbar color="{{globalVars.getColor()}}">
 <button ion-button menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
<ion-title> Home </ion-title> 
</ion-navbar>
</ion-header>

<ion-content *ngIf="authService.getUserInfo()" padding>

  
  {{authService.getUserInfo().firstName}} {{authService.getUserInfo().lastName}}
  
  
  <p>{{authService.getUserInfo().availablePoints}}</p>
  <p>Reward Points</p>
  <p>{{authService.getUserInfo().availablePointsValue}} {{authService.getUserInfo().pointValueCurrency}}</p>
</ion-content>

<ion-content *ngIf="!authService.getUserInfo()" padding>
  really ?
</ion-content>
