// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  
  
  HotPink:#FF69B4,
  DeepPink:#FF1493,
  
  
  Olive:#808000,
	OliveDrab:#6B8E23,
	YellowGreen:#9ACD32,
	LimeGreen:#32CD32,
	SpringGreen:#00FF7F,
	LightGreen:#90EE90,
	DarkGreen:#006400,
	OrangeRed:#FF4500,
	Tomato:#FF6347,
	Coral:#FF7F50,
	DarkOrange:#FF8C00,
	Orange:#FFA500,
	
	Gold:#FFD700,
	PapayaWhip:#FFEFD5,
	PeachPuff:#FFDAB9,
	
	PaleTurquoise:#AFEEEE,
	
	Turquoise:#40E0D0,
	MediumTurquoise:#48D1CC,
	DarkTurquoise:#00CED1,
	LightSeaGreen:#20B2AA,
	CadetBlue:#5F9EA0,
	DarkCyan:#008B8B,
	Teal:#008080,
	
	Purple:#800080,
	Indigo:#4B0082,
	
	Tan:#D2B48C,
	RosyBrown:#BC8F8F,
	
	Peru:#CD853F,
	Maroon:#800000,
	
	SkyBlue:#87CEEB,
	LightSkyBlue:#87CEFA,
	DeepSkyBlue:#00BFFF,
	DodgerBlue:#1E90FF,
	
	Blue:#0000FF,
	MediumBlue:#0000CD,
	DarkBlue:#00008B,
	Navy:#000080,
	MidnightBlue:#191970
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
