page-purchases {
  .bar-footer{
    bottom:0;
	  position: fixed;
	  width: 100%;
  }
  
  .bottom-margin{
    height: 40px;
  }
  
  .text-center{
    text-align: center;
  }
  
  .page-view{
    line-height: 40px;
  }
  
  
  .item-list-mar{
    margin-bottom: 69px !important;
  }
}
