<ion-header >
  <ion-navbar color="{{config.getColor()}}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Purchases</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-list *ngIf="itemPage && itemPage.content">
    <button ion-item *ngFor="let item of itemPage.content" (click)="itemTapped($event, item)">
      <ion-icon name="cart" item-left></ion-icon>
      from {{item.sourceName}}
      <div class="item-note" item-right>
        {{item.purchaseDate | date: 'dd/MM/yyyy'}}  
      </div>
    </button>
  </ion-list>
  <div *ngIf="itemPage" >
    <button *ngIf="hasPrevious()" (click)="prevPage()"><ion-icon name="arrow-back" item-left></ion-icon></button>
    Page {{itemPage.page + 1}} of {{itemPage.totalPages}} 
    <button *ngIf="hasNext()" (click)="nextPage()"><ion-icon name="arrow-forward" item-left></ion-icon></button>
  </div>
    
</ion-content>