page-cards { 
	.attribute { 
	 color:#aaa;
	}
  
  .content-center{
    display:block;
    padding-bottom:5px;
    border-bottom: 1px dashed #999;
    margin:10px;
  }
  
	img.level-image {
		max-height: 15em;
		width: auto;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}